<a href="https://colab.research.google.com/github/joannamickamedina/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python

Python Variables

In [13]:
x = float(1)
a,b,c="Sally","John","Ana"
a, b, c = 0,-1, 2

print('This is a sample')
print(a)
print(c)

This is a sample
0
2

Casting

In [14]:
print(x)

1.0

Type() Function

In [19]:
y ="Johnny"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double quotes and Single quote

In [21]:
#h = "Maria"
h = 'Maria'

print(h)

Maria

Multiple Variables

In [25]:
x ,y,z = "one","two",'three'

print(x)
print(y)
print(z)
print(x,y,z)

one
two
three
one two three

One Value to Multiple Variables

In [26]:
x = y = z ="Stella"
print(x,y,z)
print(x)
print(y)
print(z)

Stella Stella Stella
Stella
Stella
Stella

Output Variables

In [29]:
x ="enjoying"

print("Python is" + " "+x)

Python is enjoying

In [31]:
x ="enjoying"
y ='Python is'

print(y+" "+x)

Python is enjoying