<a href="https://colab.research.google.com/github/joannamickamedina/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python

Python Variables

In [13]:
x = float(1)
a,b,c="Sally","John","Ana"
a, b, c = 0,-1, 2

print('This is a sample')
print(a)
print(c)

This is a sample
0
2

Casting

In [14]:
print(x)

1.0

Type() Function

In [19]:
y ="Johnny"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double quotes and Single quote

In [51]:
#h = "Maria"
h = 'Maria'
v=1

print(h)

Maria

Multiple Variables

In [25]:
x ,y,z = "one","two",'three'

print(x)
print(y)
print(z)
print(x,y,z)

one
two
three
one two three

One Value to Multiple Variables

In [26]:
x = y = z ="Stella"
print(x,y,z)
print(x)
print(y)
print(z)

Stella Stella Stella
Stella
Stella
Stella

Output Variables

In [29]:
x ="enjoying"

print("Python is" + " "+x)

Python is enjoying

In [31]:
x ="enjoying"
y ='Python is'

print(y+" "+x)

Python is enjoying

Arithmetic Operations

In [41]:
f = 1
g = 2
i = 6

print(f+g)
print(f-g)
print(f*g)
print(int(i/g))
print(3/g)
print(3%g)
print(3//g)
print(3**2)

print(2^6)
print(2**6)
print(2|6)

3
-1
2
3
1.5
1
1
9
4
64
6

Boolean Operators

In [48]:
k = 2
l = 1
#k+=3 #Same as k= k+3

#print(k)
#print(k+=2)

print(k>>2) #shift right twice
print(k<<2) #shift left twice

0
8

Assignment Operators

In [49]:
s = 2

s*=5 #Same as s=s*5
print(s)

10

Relational Operators

In [53]:
print(v>s) #v=1, s=2

print(v==s)

False
False

Logical Operators

In [58]:
print(v<s and s==s)
print(v<s or s==v)
print(not(v<s or s==v))

True
True
False

Identity Operators

In [61]:
print(v is s)
print(v is not s)

False
True