<a href="https://colab.research.google.com/github/joannamickamedina/OOP-58001/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Operators

In [3]:
print(10>9)
print(10==9)
print(10!=9)
print(10<9)

True
False
True
False

bool() function

In [9]:
print(bool("Hello"))
print(bool(15))
print(bool([]))
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

True
True
False
False
True
False
False

Function can return a Boolean

In [13]:
def myFunction():
  return True

print(myFunction())

def myFunction():
  return False

print(myFunction())

True
False

In [16]:
def myFunction():
  return False

if myFunction():
  print("Yes!")
else:
    print("No!")

No!

Application 1

In [19]:
a=6
b=7

print(a==b)
print(a!=a)
print(a>b)

if a<b:
  print("a is less than b")
else: 
  print("a is greater than b")

False
False
False
a is less than b

Python Operators

In [21]:
print(10+3)
print(10-3)
print(10*3)
print(10//3)
print(10%3)
print(10/3)

13
7
30
3
1
3.3333333333333335

Bitwise Operators

In [22]:
a=60
b=13

print(a==b)
print(a!=a)
print(a>b)

if a<b:
  print("a is less than b")
else: 
  print("a is greater than b")

False
False
True
a is greater than b

In [31]:
#a= 60, binary 0011 1100
#b= 13, binary 0000 1101

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a<<2)
print(a>>b)

12
61
49
120
240
0

Application 2

In [41]:
#Assignment Operators
x=5
x +=3 #the same as x=x+3
print(x)
x -=3 #the same as x=x-3
x *=3 #the same as x=x*3
x /=3 #the same as x=x/3
x %=3 #the same as x=x%3

8

Logical Operators

In [48]:
k= True
l= False
print(k and l)
print(k or l)
print(not(k or l))

False
True
False

Identity Operators

In [50]:
print(k is l)
print(k is not l)

False
True

#Control Structure

If Statement

In [62]:
v = 1
z = 2

if 1<2:
  print("1 is less than 2")

1 is less than 2

Elif Statement

In [63]:
if v<z:
  print("v is less than z")
elif v>z:
  print("v is greater than z")

v is less than z

Else Statement

In [64]:
if v<z:
  print("v is less than z")
elif v>z:
  print("v is greater than z")
else:
  print("v is equal to z")

v is less than z

In [68]:
number = int(input()) #to know if the number is positive or negative

if number>0:
  print("positive")
elif number<0:
  print("negative")
else:
  print("number is equal to zero")

0
number is equal to zero

Application 3 - Develop a Python program that will accept if a person is entitled to vote or not

In [71]:
age = int(input())

if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

20
You are qualified to vote

Nested If...Else

In [72]:
u = 41
if u>10:
  print("u is above 10")
  if u>20:
    print("u is above 20")
  else:
    print("u is above 10 and below 20")

u is above 10
u is above 20

In [73]:
u = 11
if u>10:
  print("u is above 10")
  if u>20:
    print("u is above 20")
  else:
    print("u is above 10 and below 20")

u is above 10
u is above 10 and below 20

In [84]:
u = int(input())
if u>10:
  print("u is above 10")
  if u>20:
    print("u is above 20")
  if u>30:
    print("u is above 30")
    if u>40:
      print("u is above 40")
      if u>50:
        print("u is above 50")
      else:
        print("u is below 50")

49
u is above 10
u is above 20
u is above 30
u is above 40
u is below 50

#Loop Structure

In [89]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
season =["rainy","sunny"]

for x in week:
  for y in season:
   print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

The break statement

In [100]:
for x in week:
 if x == 'Thursday':
    break
 print(x)

Sunday
Monday
Tuesday
Wednesday

In [101]:
for x in week:
 if x == 'Thursday':
    break
print(x)

Thursday

In [102]:
#To display Sunday to Thursday

for x in week:
  print(x)
  if x == 'Thursday':
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

While loop

In [103]:
i=1

while i<6:
  print(i)
  i+=1

1
2
3
4
5

Application 4 - Create a Python program that displays numbers from 1 to 4 using while loop statement

In [104]:
j=1

while j<=4:
  print(j)
  j+=1

1
2
3
4

Application 5 Create a Python program that displays numbers 4 using while loop statement and break statement

In [106]:
j=1

while j<=4:
  if j==4:
   print(j)
  j+=1

4